/*重置样式公用样式*/

body, dl, dt, dd, ul, ol, li, pre, form, fieldset, input, p, blockquote, th, td {
font-weight:400;
margin:0;
padding:0;
}
h1, h2, h3, h4, h4, h5 {
margin:0;
padding:0;
}
body {
background-color:#FFFFFF;
color:#666666;
font-family:"PingFangSC-Regular",Helvetica,Arial,sans-serif;
font-size:12px;
padding:0;
text-align:left;
box-sizing: border-box;
}
select {
font-size:12px;
}
table {
border-collapse:collapse;
}
fieldset, img {
border:0 none;
}
/**
 * Remove the border on images inside links in IE 10-.
 */
img{
  max-width: 100%;
  border-style: none;
}
fieldset {
margin:0;
padding:0;
}
fieldset p {
margin:0;
padding:0 0 0 8px;
}
legend {
display:none;
}
address, caption, em, strong, th, i {
font-style:normal;
font-weight:400;
}
table caption {
margin-left:-1px;
}
hr {
border-bottom:1px solid #FFFFFF;
border-top:1px solid #E4E4E4;
border-width:1px 0;
clear:both;
height:2px;
margin:5px 0;
overflow:hidden;
}
ol, ul {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
}
caption, th {
text-align:left;
}
input[type=text]::-ms-clear {
display:none;
}
/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}


/*取消ios点击效果*/
*{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/*清楚浮动*/
.clear:after {content:"."; display:block; height:0; visibility:hidden; clear:both; }
.clear { *zoom:1; }

/*设置默认字体*/
input,textarea{
  color: #444;
  font-size: 14px;
  overflow: hidden;
}
input::-ms-clear{display:none;}/*隐藏文本框叉子*/
input::-ms-reveal{display:none;}/*隐藏密码框小眼睛*/
/*公共主体内容宽度*/
.common-container-width{
  width: 980px;
	/*min-width: 960px;*/
	/*max-width: 1090px;*/
	margin: 0 auto;
  overflow: hidden\0;
}
.iebug{
  display: none;
  display: block\0;
  position: absolute\0;
  background: #fff\0;
  width: 40px\0;
  height: 26px\0;
  right: 10px\0;
  top: 2px\0;
  z-index: 99999\0;
}

html,body{
  width: 100%;
}
#app{
  width: 100%;
}
.common-h5-index .item img{
  width: 100%;
  height: auto;
}

/*单行文字溢出*/
.ellipsis{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
  max-height: 20px\0;
  line-height: 20px\0;
}

/*多行文字溢出*/
.ellipsis2{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
  max-height: 40px;
  line-height: 20px;
}


/*.ellipsis2{position: relative; line-height: 20px; max-height: 40px;overflow: hidden;}
.ellipsis2::after{content: "..."; position: absolute; bottom: 0; right: 0; padding-left: 40px;
background: -webkit-linear-gradient(left, transparent, #fff 55%);
background: -o-linear-gradient(right, transparent, #fff 55%);
background: -moz-linear-gradient(right, transparent, #fff 55%);
background: linear-gradient(to right, transparent, #fff 55%);
}*/

/*手形鼠标*/
.pointer{
  cursor: pointer;
}

/*向下三角*/
.icon-triangle-top{
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #868686;
  position: relative;
  top: -3px;
}
.icon-triangle-bottom{
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
  border-bottom: 6px solid #868686;
  position: relative;
  top: -3px;
}
.icon-triangle-left{
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 6px solid #868686;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  position: relative;
  top: -3px;
}
.icon-triangle-right{
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid #868686;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  position: relative;
  top: -3px;
}
/*公共遮罩层*/
.mask{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  z-index: 99;
}

.swiper-slide{
  float: left\0;
}
p{
  word-break: break-all;
}


/*重置滚动条样式*/
.common-scroll-bar::-webkit-scrollbar {/*滚动条整体样式*/
    width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}
.common-scroll-bar::-webkit-scrollbar-thumb{/*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
}
.common-scroll-bar::-webkit-scrollbar-track{/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}
